[build]
  command = "cd portfolio-website && npm install react-icons@latest @types/node @netlify/functions --save-dev && npm run build"
  publish = "portfolio-website/dist"
  functions = "portfolio-website/netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--no-audit --no-fund"